<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ququ.star.product.mapper.ProdMapper">



    <update id="reduceInventory">
        update prod
            set total_stocks = total_stocks - #{param.count}
        where id = #{param.prodId}
            and total_stocks - #{param.count} > 0
    </update>
</mapper>
